
.theme-dark-pink {
	--color-base: #171717;
	--color-base-semi: rgb(23 23 23 / 70%);
	--color-secondary: #777;
	--color-subtext: #868686;
	--color-accent: #DA0037;
	--color-text: #EDEDED;
}
.theme-dark-lime {
	--color-base: #171717;
	--color-base-semi: rgb(23 23 23 / 70%);
	--color-secondary: #777;
	--color-subtext: #868686;
	--color-accent: #29DF47;
	--color-text: #EDEDED;
}
.theme-dark-da40 {
	--color-base: #171717;
	--color-base-semi: rgb(23 23 23 / 70%);
	--color-secondary: #777;
	--color-subtext: #868686;
	--color-accent: #DA4000;
	--color-text: #EDEDED;
}
.theme-dark-candy {
	--color-base: rgb(17, 13, 14);
	--color-base-semi: rgb(17 13 14 / 70%);
	--color-secondary: #777;
	--color-subtext: #cb98be;
	--color-accent: #ab479a;
	--color-text: #EDEDED;
}
.theme-dark-jade {
	--color-base: rgb(13, 17, 13);
	--color-base-semi: rgb(13 17 13 / 70%);
	--color-secondary: #777;
	--color-subtext: #98cba7;
	--color-accent: #00b54f;
	--color-text: #EEEEEE;
}
.theme-dark-fireplace {
	--color-base: rgb(17, 14, 13);
	--color-base-semi: rgb(17 14 13 / 70%);
	--color-secondary: #777;
	--color-subtext: #cba898;
	--color-accent: #b55100;
	--color-text: #EDEDED;
}
.theme-dark-navy {
	--color-base: rgb(37, 60, 109);
	--color-base-semi: rgb(37 60 109 / 70%);
	--color-secondary: #7887aa;
	--color-subtext: #929eb9;
	--color-accent: #F2842F;
	--color-text: #EDEDED;
}
.theme-dark-acidic {
	--color-base: rgb(15, 15, 15);
	--color-base-semi: rgb(15 15 15 / 70%);
	--color-secondary: #c8ff00;
	--color-subtext: #adb195;
	--color-accent: #EDEDED;
	--color-text: #c8ff00;
}
.theme-dark-electric {
	--color-base: rgb(15, 15, 15);
	--color-base-semi: rgb(15 15 15 / 70%);
	--color-secondary: #d1d1d1;
	--color-subtext: #a69773;
	--color-accent: #f1ff26;
	--color-text: #f5f5f5;
}
.theme-dark-teal {
	--color-base: #222831;
	--color-base-semi: rgb(34 40 49 / 70%);
	--color-secondary: #777;
	--color-subtext: #777;
	--color-accent: #00ADB5;
	--color-text: #EEEEEE;
}
.theme-light-teal {
	--color-base: #DDDDFD;
	--color-base-semi: rgb(240 240 250 / 70%);
	--color-secondary: #444444;
	--color-subtext: #646464;
	--color-accent: #00ADB5;
	--color-text: #111130;
}
.theme-light-coffee {
	--color-base: #EEEEEE;
	--color-base-semi: rgb(240 240 250 / 70%);
	--color-secondary: #444444;
	--color-subtext: #736258;
	--color-accent: #a16161;
	--color-text: #101010;
}
.theme-light-flashbang {
	--color-base: #EEEEEE;
	--color-base-semi: rgb(240 240 250 / 70%);
	--color-secondary: #444444;
	--color-subtext: #646464;
	--color-accent: #F2842F;
	--color-text: #101010;
}
